.register-container {
  margin-top: 30px;
  padding: 20px 20px;
}

.login-container {
  margin-top: 30px;
  padding: 20px 20px;
}

.form-container {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(85,85,85,.3);
  box-sizing: border-box;
  border-radius: 5px;
}

.form-inner {
  padding: 30px;
}

.form-header {
  font-weight: 100;
  color: #2c3e50;
  text-align: center;
}

.form-body {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 15px;
}

label {
  display: inline-block;
  color: #555;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

input {
  width: 100%;
  color: #2c3e50;
  box-sizing: border-box;
  border: 1px solid #d4d9dd;
  border-radius: 4px;
  background-color: #f9fafa;
  padding: .75rem 1rem;
  outline: none;
}

.input-error {
  border-color: red;
}

.input-error-message {
  display: block;
  color: red;
  font-style: normal;
  margin-top: 2px;
}

small {
  color: #555;
  font-style: italic;
}

small a {
  color: #555;
  text-decoration: underline;
}

input:focus {
  border-color: #2c3e50;
}

button {
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}