.profile-header-container {
  position: relative;
  font-size: 0;
  box-shadow: 0 1px 4px 0 rgba(85,85,85,.3);
}

.profile-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
  opacity: 0.9;
  z-index: -1;
  background: #2989d8;
  background: -moz-linear-gradient(left, #2989d8 0%, #1e5799 100%);
  background: -webkit-linear-gradient(left, #2989d8 0%,#1e5799 100%);
  background: linear-gradient(to right, #2989d8 0%,#1e5799 100%);
}

.profile-image {
  width: 300px;
}

.profile-title {
  position: absolute;
  top: 0;
  left: 300px;
  padding-left: 20px;
}

.profile-header-info h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.profile-header-info h2 {
  color: white;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

.profile-social {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 25px;
}

.profile-social a {
  font-size: 35px;
  padding-right: 20px;
  display: inline-block;
}

.profile-social a:last-of-type {
  padding-right: 0;
}

.profile-social a:hover {
  opacity: 0.8;
  color: white;
}

@media (max-width: 690px) {

  .profile-image {
    width: 100%;
  }

  .profile-social {
    position: static;
    text-align: center;
  }

  .profile-title {
    position: static;
    text-align: center;
    padding-left: 0;
  }

}